h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
	transition: color 1s ease-in-out;
}

.intro {
	position: relative;

	[class*="blob"] {
		z-index: -1;
		top: 150px;
		left: -20px;

		@include breakpoint (baby-bear) {
			top: 320px;
			left: -192px;
		}
	}
}

.social-icons {
	padding: 0;
	margin: 0;
	list-style-type: none;

	li {
		display: inline-block;
		margin: 0 15px;

		&:first-child {
			margin-left: 0;
		}

		img {
			width: 24px;
			height: 24px;
		}
	}
}

.project {
	position: relative;

	@extend %vspacing;

	[class*="blob-1"] {
		z-index: -1;
		bottom: -120px;
		left: 20px;

		@include breakpoint (baby-bear) {
			right: -100px;
			bottom: -100px;
		}
	}

	[class*="blob-2"] {
		z-index: -1;
		bottom: -100px;
		left: -30px;

		@include breakpoint (baby-bear) {
			top: -100px;
			right: -185px;
		}
	}

	ul {
		@extend %no-bullet;

		position: relative;
	}

	li {
		position: absolute;
		top: 0;
		display: block;
		opacity: 0%;

		&.active {
			position: relative;
			opacity: 100%;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
}

.project-images {
	img {
		border-radius: 16px;
	}
}

.project-description {
	margin-top: 24px;
	text-align: left;

	@include breakpoint (tiny-bear) {
		margin-top: 32px;
	}

	a {
		color: $yellow;
		text-decoration: none;
	}

	.date {
		color: $grey;

		@include breakpoint (tiny-bear) {
			margin-bottom: 8px;
		}
	}

	.title {
		margin-bottom: 12px;
		font-weight: 600;

		@include breakpoint (baby-bear) {
			margin-bottom: 16px;
		}
	}

	p {
		margin-bottom: 0;
	}
}

.animated {
	opacity: 0%;
}
