
%animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}
.animated {
  @extend %animated;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
	-moz-transform: translate3d(0, 100px, 0);
	-ms-transform: translate3d(0, 100px, 0);
	-o-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
	-moz-transform: translate3d(0, 100px, 0);
	-ms-transform: translate3d(0, 100px, 0);
	-o-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }

  to {
    opacity: 1;
  }
}

%fadeInUp {
  @extend %animated;
  animation-name: fadeInUp;
}

.fadeInUp { 
  @extend %fadeInUp;
}

@-webkit-keyframes spin /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.spin {
  -webkit-animation: spin 0.25s linear infinite;
  -moz-animation: spin 0.25s linear infinite;
  -ms-animation: spin 0.25s linear infinite;
  -o-animation: spin 0.25s linear infinite;
  animation: spin 0.25s linear infinite;
}