@font-face {
  font-family: Everett;
	font-weight: 400;
  src:
 		url("../fonts/TWKEverett-Regular-web.woff2") format("woff2"),
		url("../fonts/TWKEverett-Regular-web.woff") format("woff"),
		url("../fonts/TWKEverett-Regular-web.ttf")  format("truetype");
}

@font-face {
  font-family: Everett;
	font-weight: 500;
  src:
		url("../fonts/TWKEverett-Medium-web.woff2") format("woff2"),
		url("../fonts/TWKEverett-Medium-web.woff") format("woff"),
		url("../fonts/TWKEverett-Medium-web.ttf")  format("truetype");
}

@font-face {
  font-family: Degular;
  src:
		url("../fonts/Degular-Display-Bold.woff2") format("woff2"),
		url("../fonts/Degular-Display-Bold.woff") format("woff"),
		url("../fonts/Degular-Display-Bold.ttf")  format("truetype");
}

@font-face {
  font-family: Eckmannpsych;
  src:
		url("../fonts/Eckmannpsych-Small.woff2") format("woff2"),
		url("../fonts/Eckmannpsych-Small.woff") format("woff"),
		url("../fonts/Eckmannpsych-Small.ttf")  format("truetype");
}
