@font-face {
	font-display: swap;
  font-family: Everett;
	font-weight: 300;
  src:
 		url("../fonts/Everett-Light.woff2") format("woff2"),
		url("../fonts/Everett-Light.woff") format("woff"),
		url("../fonts/Everett-Light.ttf")  format("truetype");
}

@font-face {
	font-display: swap;
  font-family: Everett;
	font-weight: 400;
  src:
 		url("../fonts/TWKEverett-Regular-web.woff2") format("woff2"),
		url("../fonts/TWKEverett-Regular-web.woff") format("woff"),
		url("../fonts/TWKEverett-Regular-web.ttf")  format("truetype");
}

@font-face {
	font-display: swap;
  font-family: Everett;
	font-weight: 500;
  src:
		url("../fonts/TWKEverett-Medium-web.woff2") format("woff2"),
		url("../fonts/TWKEverett-Medium-web.woff") format("woff"),
		url("../fonts/TWKEverett-Medium-web.ttf")  format("truetype");
}

@font-face {
	font-display: swap;
  font-family: Degular;
  src:
		url("../fonts/Degular-Display-Bold.woff2") format("woff2"),
		url("../fonts/Degular-Display-Bold.woff") format("woff"),
		url("../fonts/Degular-Display-Bold.ttf")  format("truetype");
}

@font-face {
	font-display: swap;
  font-family: Pilowlava;
  src:
		url("../fonts/Pilowlava-Regular.woff2") format("woff2"),
		url("../fonts/Pilowlava-Regular.woff") format("woff"),
		url("../fonts/Pilowlava-Regular.ttf")  format("truetype");
}
