@font-face {
	font-display: swap;
  font-family: Cooper;
	font-weight: 300;
  src:
 		url("../fonts/Cooper-Light.woff2") format("woff2"),
		url("../fonts/Cooper-Light.woff") format("woff"),
		url("../fonts/Cooper-Light.ttf")  format("truetype");
}

@font-face {
	font-display: swap;
  font-family: Cooper;
	font-weight: 500;
  src:
		url("../fonts/Cooper-Medium.woff2") format("woff2"),
		url("../fonts/Cooper-Medium.woff") format("woff"),
		url("../fonts/Cooper-Medium.ttf")  format("truetype");
}

@font-face {
	font-display: swap;
  font-family: Degular;
  src:
		url("../fonts/Degular-Display-Bold.woff2") format("woff2"),
		url("../fonts/Degular-Display-Bold.woff") format("woff"),
		url("../fonts/Degular-Display-Bold.ttf")  format("truetype");
}

@font-face {
	font-display: swap;
  font-family: Pilowlava;
  src:
		url("../fonts/Pilowlava-Regular.woff2") format("woff2"),
		url("../fonts/Pilowlava-Regular.woff") format("woff"),
		url("../fonts/Pilowlava-Regular.ttf")  format("truetype");
}
