.container {
	width: 100%;
	max-width: 120rem;
	padding-right: calc($grid-gutter-width / 2);
	padding-left: calc($grid-gutter-width / 2);
	margin: 0 auto;

	@include breakpoint-up(lg) {
		display: grid;
		width: 90%;
		gap: $grid-gutter-width;
		grid-template-columns: repeat(12, [col-start] 1fr);
	}

	@include breakpoint-up(xl) {
		width: 100%;
	}
}