.container {
	width: 100%;
	max-width: $grid-width;
	padding-right: $grid-gutter-width-sm;
	padding-left: $grid-gutter-width-sm;
	margin: 0 auto;

	img {
		align-self: center;
	}

	@include breakpoint-up(md) {
		display: grid;
		width: 90%;
		padding-right: $grid-gutter-width-lg;
		padding-left: $grid-gutter-width-lg;
		gap: ($grid-gutter-width-lg * 2);
		grid-template-columns: repeat(12, [col-start] 1fr);
	}

	@include breakpoint-up(xl) {
		width: 100%;
	}
}