// * {
// 	transition: all $transition-speed;
// }

html {
  font-family: $font-family-base;
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
  -ms-overflow-style: scrollbar;
	text-rendering: optimizeLegibility;
}

body {
	height: 100%;
	min-height: 100vh;
  margin: 0;
  background-color: $body-bg;
  color: $body-color;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  text-align: left;
	transition: all $transition-speed;

	&.dark {
		background-color: $near-black;
		color: $near-white;
	}
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

/* ----------  Button  ---------- */
button {
	border: none;
	background-color: transparent;
}

img {
	max-width: 100%;
	height: auto;
}
