@use "sass:math";

// TABLE OF CONTENT
// - Colors
// - Spacing
// - Body
// - Links
// - Paragraphs
// - Breakpoints
// - Grid containers
// - Grid columns
// - Components
// - Fonts
// - Buttons
// - Z-index
// - Border-radius
// - Transition

// Colors
$black: #000;
$near-black: #222;
$medium-grey: #4b4b4b;
$off-white: #f3f3f3;
$near-white: #fbfbfb;
$white: #fff;
$apple: #adf7b6;
$peach: #ffc09f;
$lemon: #fcf5c7;
$plum: #a332ca;
$primary: $apple;
$secondary: $peach;

// Spacing
$spacer-base: 0.8rem;

$spacer1-sm: $spacer-base; // 8px
$spacer2-sm: $spacer-base * 2; // 16px
$spacer3-sm: $spacer-base * 2; // 16px
$spacer4-sm: $spacer-base * 2; // 16px
$spacer5-sm: $spacer-base * 3; // 24px
$spacer6-sm: $spacer-base * 2; // 16px
$spacer7-sm: $spacer-base * 6; // 48px

$spacer1-lg: $spacer-base; // 8px
$spacer2-lg: $spacer-base * 2; // 16px
$spacer3-lg: $spacer-base * 3; // 24px
$spacer4-lg: $spacer-base * 4; // 32px
$spacer5-lg: $spacer-base * 6; // 48px
$spacer6-lg: $spacer-base * 16; // 128px
$spacer7-lg: $spacer-base * 18; // 144px

// Body
$body-bg: $white;
$body-color: $near-black;

// Links
$link-color: inherit;
$link-decoration: underline;
$link-hover-color: $peach;
$link-hover-decoration: underline;

// Paragraphs
$paragraph-margin-bottom: 1rem;

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// Grid columns
$grid-columns: 12;
$grid-width: 120rem;
$grid-gutter-width-sm: 2rem;
$grid-gutter-width-lg: 1.5rem;
$gutter: $grid-gutter-width-lg * 2;

// Components
$line-height-lg: 1.5;
$line-height-sm: 1.5;
$transition-base: all 0.3s ease-in-out;
$transition-fade: opacity 0.15s linear;
$transition-collapse: height 0.35s ease;

// Fonts
$font-family-serif: "Degular", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-family-decorative: "Pilowlava", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-family-sans-serif: "Cooper", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-family-heading: $font-family-serif;
$font-family-base: $font-family-sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;
$font-weight-base: $font-weight-light;
$headings-font-family: $font-family-heading;
$headings-font-weight: $font-weight-normal;
$list-inline-padding: 5rem;

// Z-index
$zindex-background: -1;
$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;

// Border-radius
$border-radius-mobile: 0.4rem;
$border-radius-desktop: 0.8rem;

// transition
$transition-speed: 0.1s;