%animated {
	animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: both;
	opacity: 0%;
  transform: translate3d(0, 0, 0);
}

.animated {
  @extend %animated;
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.fade-in {
	@extend %animated;
  animation-name: fade-in;
}

@keyframes fade-in-up {
  from {
    opacity: 0%;
    transform: translate3d(0, 100px, 0);
  }

  to {
    opacity: 100%;
  }
}

%fade-in-up {
  @extend %animated;
  animation-name: fade-in-up;
}

.fade-in-up {
  @extend %fade-in-up;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 0.25s linear infinite;
}
