[class*="btn"] {
	display: flex;
	height: 4.8rem;
	align-items: center;
	justify-content: center;
	background-color: $near-black;
	border-radius: 50%;
	cursor: pointer;
	text-align: center;
	transition: all $transition-speed;
}

.dark [class*="btn"] {
	background-color: $near-white;
}

.btn {
	&-icon {
		width: 4.8rem;
	}
}