.header-nav {
	padding: $spacer4-sm $grid-gutter-width-sm;

	@include breakpoint-up(lg) {
		padding: $spacer4-lg 6rem;
	}

	ul {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;

		li {
			display: inline-block;

			&.avatar {
				display: block;
				width: 7rem;
				height: auto;
				transition: all $transition-speed;

				&:hover {
					@include breakpoint-up(lg) {
						animation: spin 0.25s linear infinite;
					}
				}
			}

			&:nth-child(3) {
				margin-left: 2.2rem;
			}
		}
	}
}

.avatar-dark {
	display: none;
}

.dark {
	.avatar-dark {
		display: block;
	}

	.avatar-light {
		display: none;
	}
}