.page-intro {
	@include breakpoint-up(lg) {
		grid-column: 3/11;
	}

	&::before {
		display: block;
		width: 3.6rem;
		height: 3.6rem;
		margin: 0 auto 1.6rem;
		background-image: url("../img/emoji-bolt.png");
		background-size: 3.6rem 3.6rem;
		content: "";
	}
}

.home {
	.page-intro {
		&::before {
			background-image: url("../img/emoji-bolt.png");
		}
	}
}

.fourohfour {
	.page-intro {
		&::before {
			background-image: url("../img/emoji-hmm.png");
		}
	}
}