.page-intro {
	grid-column-end: span 12;

	@include breakpoint-up(lg) {
		grid-column: 3/11;
	}

	&::before {
		display: block;
		width: 3.6rem;
		height: 3.6rem;
		margin: 0 auto $spacer2-sm;
		background-image: url("../img/emoji-bolt.png");
		background-size: 3.6rem 3.6rem;
		content: "";
	}

	.tag {
		margin-top: $spacer4-lg;

		svg {
			width: 10rem;

			@include breakpoint-up(lg) {
				width: auto;
			}
		}
	}
}

.dark {
	.page-intro {
		.tag {
			path {
				fill: $near-white;
			}
		}
	}
}

.home {
	.page-intro {
		&::before {
			background-image: url("../img/emoji-bolt.png");
		}
	}
}

.fourohfour {
	.page-intro {
		&::before {
			background-image: url("../img/emoji-hmm.png");
		}
	}
}