.project-intro {
	position: relative;
	padding: 14.4rem 0 11.6rem;

	&::after {
		position: absolute;
		bottom: 3.2rem;
		left: calc(50% - 1.8rem);
		width: 3.6rem;
		height: 3.6rem;
		background: url("../img/emoji-down.png") no-repeat;
		background-size: 3.6rem 3.6rem;
		content: "";
	}

	.project-title {
		grid-column: span 5;
	}

	.project-description {
		grid-column: 7/13;
	}
}