.project-container {
	overflow: hidden;
	padding: $spacer6-sm 0;
	margin: 0 $grid-gutter-width-sm $spacer2-sm;
	background-color: $off-white;
	border-radius: $border-radius;

	@include breakpoint-up(lg) {
		padding: $spacer6-lg 0;
		margin: 0 $grid-gutter-width-lg $spacer2-lg;
	}

	.container {
		display: flex;
		justify-content: space-between;

		@include breakpoint-up(lg) {
			display: grid;
			justify-content: normal;
		}
	}
}