.project-intro {
	position: relative;
	padding-top: $spacer7-sm;
	padding-bottom: 8.4rem;

	@include breakpoint-up(lg) {
		padding-top: $spacer7-lg;
		padding-bottom: 11.6rem;
	}

	&::after {
		position: absolute;
		bottom: $spacer5-sm;
		left: calc(50% - 1.8rem);
		width: 3.6rem;
		height: 3.6rem;
		background: url("../img/emoji-down.png") no-repeat;
		background-size: 3.6rem 3.6rem;
		content: "";

		@include breakpoint-up(lg) {
			bottom: $spacer4-lg;
		}
	}

	.project-title {
		@include breakpoint-up(lg) {
			grid-column: span 5;
		}
	}

	.project-description {
		@include breakpoint-up(lg) {
			grid-column: 7/13;
		}
	}
}