.project-desktop,
.project-mobile {
	@extend %shadow;
	background-image:
	url(
		"data:image/svg+xml;charset=utf-8,%3Csvg xmlns=\'http%3A//www.w3.org/2000/svg\'xmlns%3Axlink=\'http%3A//www.w3.org/1999/xlink\' viewBox=\'0 0 1280 853\'%3E%3Cfilter id=\'b\' color-interpolation-filters=\'sRGB\'%3E%3CfeGaussianBlur stdDeviation=\'.5\'%3E%3C/feGaussianBlur%3E%3CfeComponentTransfer%3E%3CfeFuncA type=\'discrete\' tableValues=\'1 1\'%3E%3C/feFuncA%3E%3C/feComponentTransfer%3E%3C/filter%3E%3Cimage filter=\'url(%23b)\' x=\'0\' y=\'0\' height=\'100%25\' width=\'100%25\'xlink%3Ahref=\'data%3Aimage/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAIAAACepSOSAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAs0lEQVQI1wGoAFf/AImSoJSer5yjs52ktp2luJuluKOpuJefsoCNowB+kKaOm66grL+krsCnsMGrt8m1u8mzt8OVoLIAhJqzjZ2tnLLLnLHJp7fNmpyjqbPCqLrRjqO7AIeUn5ultaWtt56msaSnroZyY4mBgLq7wY6TmwCRfk2Pf1uzm2WulV+xmV6rmGyQfFm3nWSBcEIAfm46jX1FkH5Djn5AmodGo49MopBLlIRBfG8yj/dfjF5frTUAAAAASUVORK5CYII=\'%3E%3C/image%3E%3C/svg%3E"
		);
	background-size: cover;
	content-visibility: auto;
}

.project-desktop {
	border-radius: $border-radius;
	
	@include breakpoint-up(lg) {
		grid-column: 2/12;
	}
}

.project-mobile {
	display: inline-block;
	width: 31%;
	border-radius: 1.5rem;

	@include breakpoint-up(md) {
		border-radius: 3.25rem;
	}

	@include breakpoint-up(lg) {
		display: block;
		width: 100%;
		border-radius: 4.25rem;
	}

	&:nth-child(1) {
		@include breakpoint-up(lg) {
			grid-column: 2/5;
		}
	}

	&:nth-child(2) {
		@include breakpoint-up(lg) {
			margin-right: auto;
			margin-left: calc((100vw - 3rem - 80rem) / 12);
			grid-column: span 3;
		}
	}

	&:nth-child(3) {
		@include breakpoint-up(lg) {
			grid-column: 9/12;
		}
	}
}