[class*="shape-"] {
	position: absolute;
	z-index: $zindex-background;
}

.page-intro {
	position: relative;
	
	.shape-squiggle {
		top: 16rem;
		left: -29rem;
	}

	.shape-cheese {
		right: -45rem;
		bottom: 70rem;
	}

	.shape-tube-2 {
		right: -25rem;
		bottom: 0;
	}
}

.project-section {
	&:nth-of-type(1) {
		.project-intro {
			.shape-pill-1 {
				top: 25rem;
				left: 24.5rem;
			}
		}
	}

	&:nth-of-type(2) {
		.project-intro {
			.shape-cheese {
				right: -22rem;
				bottom: -22rem;
			}
		
			.shape-pill-2 {
				bottom: -20rem;
				left: -10rem;
			}
		
			.shape-squiggle {
				bottom: -10rem;
				left: -9rem;
			}

			.shape-tube-1 {
				top: -27rem;
				right: 20rem;
			}
		}
	}

	&:nth-of-type(3) {
		.project-intro {
			.shape-cheese {
				right: -22rem;
				bottom: -52rem;
			}
		
			.shape-pill-2 {
				bottom: -40rem;
				left: -10rem;
			}
		
			.shape-squiggle {
				bottom: -40rem;
				left: -9rem;
			}

			.shape-tube-1 {
				top: -47rem;
				right: 20rem;
			}
		}
	}

	&:nth-of-type(4) {
		.project-intro {
			.shape-cheese {
				right: -22rem;
				bottom: -72rem;
			}
		
			.shape-pill-2 {
				bottom: -60rem;
				left: -10rem;
			}
		
			.shape-squiggle {
				bottom: -60rem;
				left: -9rem;
			}
		
			.shape-tube-1 {
				top: -67rem;
				right: 20rem;
			}
		}
	}

	&:nth-of-type(5) {
		.project-intro {
			.shape-cheese {
				right: -22rem;
				bottom: -112rem;
			}
		
			.shape-pill-2 {
				bottom: -100rem;
				left: -10rem;
			}
		
			.shape-squiggle {
				bottom: -100rem;
				left: -9rem;
			}
		
			.shape-tube-1 {
				top: -87rem;
				right: 20rem;
			}
		}
	}
}