body > * {
	position: relative;
	z-index: $zindex-content;
}

.shapes {
	position: absolute;
	z-index: $zindex-background;
	top: 36rem;
	right: 0;
	left: 0;
	width: 100%;
	max-width: 122rem;
	margin: 0 auto;
}

.shapes-group {
	position: relative;

	img {
		display: none;
	
		@include breakpoint-up(xl) {
			position: relative;
			display: block;

			&:nth-child(6n-5) {
				margin: 0 11.5rem 19.6rem auto;
			}

			&:nth-child(6n-4) {
				margin: 0 auto 2rem 11.5rem;
			}

			&:nth-child(6n-3) {
				margin: 0 -10rem 10rem auto;
			}

			&:nth-child(6n-2) {
				margin: 0 auto 25rem -8.5rem;
			}

			&:nth-child(6n-1) {
				margin: 0 auto 38rem 21.5rem;
			}

			&:nth-child(6n) {
				margin: 0 20rem 13rem auto;
			}
		}
	}
}