body {
	background: $near-white url("../img/bg-light-mobile.png") center top repeat;
	overflow-x: hidden;

	@include breakpoint-up(md) {
		background-image: url("../img/bg-light.png");
	}

	&.dark {
		background: $near-black url("../img/bg-dark-mobile.png");

		@include breakpoint-up(md) {
			background-image: url("../img/bg-dark.png");
		}
	}
}